<div class="loginoverlay ng-hide" ng-show="fileedit">
    <div class="sharefield">
        <div class="sharefieldline">
            <div></div>
            <span>Datei Hochladen:</span>
            <!--<input class="alertbutton" id="closeStyle" type="button" value="CLOSE" ng-click="editclose();">-->
            <div class="alertbutton" id="closeStyle" style="width: 12px;" ng-click="editclose();"><i class="fa fa-times"></i>
            </div>
        </div>

        <div class="cutline">
            <!--<input type="file" class="cropImage" cropWidth="800" cropHeight="600" uploadUrl="http://localhost:1919/backend/api/files/uploadfile/{}" maxSize="false" onimgset="globalEvent.imagereload(e);" oncancel="console.error(e);" circle="false" style="position: absolute; top: 48px; left: 10px;">
            <br><br><br><br>-->
            <input type="file" name="file" id="fileupload" cropWidth="800" cropHeight="600" maxSize="false" circle="false"/><input type="button" value="Upload" ng-click="uploadFile()"><br><br><br>
            <progress min="0" max="100" value="0" id="fileuploadprogress">0% complete</progress>
            <br>
            <br>
            <br>
            <span>{{uploadState}}</span>
        </div>
    </div>
</div>

<!--<div class="loginoverlay" style="display:{{loadshow}};">
    <div class="loginwait">{{loadinginfo}}
        <div class="loadicon"></div>
        <div class="loadingslideIN" id="loadingslide"></div>
    </div>
</div>

<div class="loginoverlay" style="display:{{alertshow}};">
    <div class="loginwait">{{alertinfo}}
        <br>
        <br>
        <input class="alertbutton" type="button" value="OK" ng-click="unalert();">
    </div>
</div>

<div class="loginTop">
    <div class="loginLogo"></div>
</div>-->
<div class="noteconBackground" id="noteconBackground">
    <!--ng-mouseup="mouseup();" ng-mousemove="clog(); mousemove($event);"-->
    <!--ng-mousedown="setinactive();"-->
    <div class="fileListOverlay">
        <div class="fileOperationsBar">
            <ul class="dirShow" id="dirShow">
                <li ng-repeat="elem in path" ng-click="openFileAngu(elem.id);" ng-mouseover="mouseover(elem.id);">{{elem.show}}</li>
            </ul>
            <ul class="dirButtons">
                <li class="dirButtonsLi" style="z-index: 2;" ng-click="deleteSelection();" title="delete selection"><i class="fa fa-trash-o trashicon"></i> 
                    <!-- ng-mouseover="mouseover('4DELETED00');" -->
                </li>
                <li ng-class="addFileClass" title="add file/folder" ng-mouseover="mouseout();">
                    <!-- dirButtonsLiAdd -->
                    <nobr>
                        <i class="fa fa-plus addicon"></i>
                        <div class="AddFileOverlay" ng-click="toggleAddFile()"></div>
                        <i class="fa fa-folder addFileIcon"></i>
                        <!--<img src="img/doc/file.png" style="position: relative; margin-top: -3px; bottom: 0px; opacity: 0.6; margin-left: 9px;" id="AddFileChoice" onclick="addFile.toggleAddFileChoice();">-->
                        <input type="text" class="AddFileInput" ng-keydown="addFileCheckEnter($event);">
                    </nobr>
                </li>
                <li class="dirButtonsLi" style="z-index: 2;" ng-click="refreshDir();" title="refresh dir" ng-mouseover="mouseout();"><i class="fa fa-refresh refreshicon"></i>
                </li>
                <li class="dirButtonsLi" style="z-index: 2;" ng-click="editopen();" title="upload file" ng-mouseover="mouseout();"><i class="fa fa-upload refreshicon"></i>
                </li>
            </ul>
        </div>
        <ul class="fileListUl" id="fileListUl">
            <li id="filelistHeadline" ng-click="setinactive($event);" ng-mouseover="mouseout();">
                <div class="selectcounter">{{activenum}}</div>
                <font style="position: relative; left: 48px;" ng-click="order('name_cache');">TITLE</font>
                <div class="ownerFile">CONTENT TYPE</div>
                <div class="lastChange">LAST MODIFIED</div>
            </li>
            <li ng-repeat="(key, id) in flist" class="{{getactive(id)}}" ng-mouseup="setactive($event, id);" ng-mousedown="mousedown(id, $event);" ng-mouseover="mouseover(id);" ng-dblclick="configFile(id);" dragable="false">
                <!--<div class="ico{{key.substr(0,1);}}"></div>-->
                <i class="{{getIconClass(key)}} fileexplorericon"></i>
                <font class="filenameDir" style="position: relative; left: 30px;" ng-click="openFileAngu(id);">{{key}}
                </font>
                <div class="ownerFile" style="top:10px;">-</div>
                <div class="lastChange" style="top:10px;">-</div>
                <!--<img src="img/gear.png" class="gearIcon">
            <img src="img/share.png" class="shareIcon"></li>-->
        </ul>
        <div class="fileListCut">

        </div>
    </div>
    <!--<input type="file" class="cropImage" cropWidth="800" cropHeight="400" uploadUrl="http://localhost:1919/backend/api/files/upload/5412a85a09d4ac944576b53d" maxSize="true" onimgset="console.log(e);" oncancel="console.error(e);" style="top:75px; position: absolute;">-->
    <div class="filemoveShow" ng-style="{'top': elmtop+'px', 'left': elmleft+'px', 'display': elmdisplay}">
        <ng-pluralize count="activenum" when="{'0': 'Nothing selected!',
                           'one': 'Move 1 file to ',
                           'other': 'Move {} files to '}">
        </ng-pluralize>{{moveto}}</div>
</div>
