<div bauhaus-page-tree></div>

<div class="page-editor">
    <div class="page-editor-header">

        <div class="page-editor-status">
            <button class="button" ng-class="{ primary: (pageHasChanges || contentHasChanges() ) }" ng-click="updatePage(page)" />Save</button><br /><br />
        </div>

        <div class="page-editor-header-title">
            <i class="fa fa-file-o"></i> <input type="text" class="title" ng-model="page.title" />
            <div class="page-editor-header-show-label clickable" ng-click="showPageLabel = true" ng-show="!showPageLabel">Add seperate  label for navigation</div>
        </div>
        <div class="page-editor-header-label" ng-show="showPageLabel">
            <i class="fa fa-sitemap"></i> Label <input type="text" class="label" ng-model="page.label" />
        </div>
        <div class="page-editor-header-route">
            <i class="fa fa-globe"></i> Route <input type="text" class="route" ng-model="page.route" />
        </div>
    </div>

    <div class="page-editor-tabs">
        <ul class="tabs">
            <li class="tabs-item" ng-repeat="slot in currentPageType.slots" ng-class="{ selected: tab === ('slot:' + slot.name) }">    
                <div class="tabs-item-button clickable" ng-click="$parent.tab = 'slot:' + slot.name; $parent.currentSlot = $index"><i class="fa fa-file-text-o"></i> {{ slot.label }}</div>
            </li>

            <li class="tabs-item" ng-class="{ selected: tab === 'layout' }">    
                <div class="tabs-item-button clickable" ng-click="tab = 'layout'"><i class="fa fa-columns"></i> Layout</div>
            </li>

            <li class="tabs-item delete right">    
                <div class="tabs-item-button clickable" ng-click="deletePage(page)">Delete</div>
            </li>
        </ul>
    </div>

    <div class="page-editor-container page-slots" ng-repeat="slot in currentPageType.slots" ng-show="tab === 'slot:' + slot.name">
        <div class="page-slot-content-add">
            <select ng-options="name as type.title for (name, type) in contentTypes.all" ng-model="newContentType"></select>    
            <div class="button clickable" ng-click="createContent()">Add Content</div>
        </div>
        <div class="page-slot" ng-init="slotIndex = $index">
            <div class="page-content" ng-repeat="content in slots[$index]">

                <div class="page-content-actions">
                    <ul class="page-content-actions-list">
                        <li class="page-content-actions-list-item clickable" title="Move up" ng-class="{ inactive: content.meta.position === 0 }" ng-click="moveContentUp(content)">
                            <i class="fa fa-chevron-up"></i>
                        </li>
                        <li class="page-content-actions-list-item clickable" title="Move down" ng-class="{ inactive: content.meta.position === slots[slotIndex].length - 1}" ng-click="moveContentDown(content)">
                            <i class="fa fa-chevron-down"></i>
                        </li>
                        <li class="page-content-actions-list-item clickable" title="Delete content" ng-click="deleteContent(content)">
                            <i class="fa fa-times"></i>
                        </li>
                    </ul>
                </div>

                <div class="page-content-type"><i class="fa fa-puzzle-piece"></i> {{ contentTypes.all[content._type].title }}</div>

                <div bauhaus-form ng-model="content" config="contentTypes.all[content._type]"></div>  
            </div>
        </div>
    </div>

    <div class="page-editor-container page-layout" ng-show="tab === 'layout'">
        Page Type: <select ng-model="page._type" ng-options="name as type.title for (name, type) in pageTypes.all"></select> 
    </div>
</div>
