<div class="crud user-crud">
    <h2 class="crud-title">
        <span ng-switch on="isNew()">
            <span ng-switch-when="true">
                Create new Role
            </span>
            <span ng-switch-default>   
                Edit Role "{{ role.name }}""
            </span>
        </span>
    </h2>

    <div class="crud-actions">
        <button class="button" ng-click="updateRole()">Save</button> <button class="button" ng-click="deleteRole()">Delete</button>
    </div>

    <div class="crud-form">
        <div class="form">
            <div class="form-field">
                <div bauhaus-text ng-model="role.name" field-config="{label: 'Name'}"></div>
            </div>
        </div>

        
        <div class="form">
            <div bauhaus-permissions role-permissions="role.permissions" config="{label: 'Permissions'}"></div>
        </div>
    </div>
</div>