<div class="crud user-crud">
    <h2 class="crud-title">
        <span ng-switch on="isNew()">
            <span ng-switch-when="true">
                Create new user
            </span>
            <span ng-switch-default>   
                Edit {{ user.username }}
            </span>
        </span>
    </h2>

    <div class="crud-actions">
        <button class="button" ng-click="updateUser()">Save</button> <button class="button" ng-click="deleteUser()">Delete</button>
    </div>

    <ul class="crud-form">
        <div class="form">
            <div class="form-field">
                <div bauhaus-text ng-model="user.username" field-config="{label: 'Username'}"></div>
            </div>
            <div class="form-field">
                <div bauhaus-password ng-model="user.password" field-config="{label: 'Set new password'}"></div>
            </div>

            <div class="form-field">
                <div bauhaus-roles ng-model="user.roles" field-config="{label: 'Roles'}"></div>
            </div>
        </div>

        <div class="form">
            <div bauhaus-document-form ng-model="user" config="customFields"></div>  
        </div>
    </div>
</div>