<div class="bauhaus-list-view">
    <h2 class="title">{{ modelConfig.name }}</h2>
    <button class="button" ng-click="createDocument()">Create {{ modelConfig.name }}</button>

    <script type="text/ng-template" id="documentListViewItem.html">
        <a href="#/document/{{ type }}/{{document._id}}"><i class="fa" ng-class="icon"></i> {{ document[ useAsLabel ] }}</a>
    </script>

    <ul class="bauhaus-list">
        <li class="bauhaus-list-item" ng-repeat="document in documents">
            <ng-include src="'documentListViewItem.html'">
        </li>
    </div>
</div>
