<!DOCTYPE html>
<html ng-app="bauhaus">
    <head>
        <title>BauhausJS</title>
        <link type="text/css" rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
        <link type="text/css" rel="stylesheet" href="css/all.css">
    <body>

        <nav class="navigation">
            <div class="bauhaus-title">BauhausJS</div>
            <ul class="navigation-list">
                <li class="navigation-list-item">
                    <a href="#/dashboard"><i class="navigation-icon fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="navigation-list-item">
                    <a href="#/page"><i class="navigation-icon fa fa-file-o"></i> Pages</a>
                </li>
                <li class="navigation-list-item">
                    <a href="#/user"><i class="navigation-icon fa fa-user"></i> User</a>
                </li>
            </ul>
        </nav>
        <div class="content" ng-view></div>

        <script src="components/angular/angular.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/angular-route/angular-route.js"></script>

        <script src="javascript/dashboard/dashboardController.js"></script>
        <script src="javascript/dashboard/dashboard.js"></script>

        <script src="javascript/page/pageServices.js"></script>
        <script src="javascript/page/pageDirectives.js"></script>
        <script src="javascript/page/pageController.js"></script>
        <script src="javascript/page/page.js"></script>

        <script src="javascript/user/userServices.js"></script>
        <script src="javascript/user/userDirectives.js"></script>
        <script src="javascript/user/userController.js"></script>
        <script src="javascript/user/user.js"></script>

        <script src="javascript/app.js"></script>

    </head>
    </body>
</html>