<!DOCTYPE html>
<html ng-app="bauhaus">
    <head>
        <title>BauhausJS</title>

      <!-- inject:css -->
      <!-- endinject -->
    </head>
    <body class="bauhaus-body">
        <div class="bauhaus-top-navigation">
            Signed in as <%- username %>.
            <i class="fa fa-power-off"></i> <a href="logout">Logout</a>
        </div>
        <nav class="bauhaus-navigation">
            <div class="bauhaus-title">BauhausJS</div>
            <bauhaus-navigation></bauhaus-navigation>
        </nav>
        <div class="bauhaus-content" ng-view></div>

        <!-- inject:js -->
        <!-- endinject -->
        <script>
            // Module dependencies will be injected during build
            angular.module('bauhaus', [])
                .config(function ($routeProvider) {
                    'use strict';
                    $routeProvider.when('/', {redirectTo: '/dashboard'});
            });
        </script>

    </head>
    </body>
</html>