<!DOCTYPE html>
<html ng-app="bauhaus">
    <head>
        <title>BauhausJS</title>

      <!-- inject:css -->
      <!-- endinject -->
        <link type="text/css" rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
        <!--<link type="text/css" rel="stylesheet" href="css/all.css">-->
    </head>
    <body class="backend">
        <div class="top-nav">
            Signed in as <%- username %>.
            <i class="fa fa-power-off"></i> <a href="logout">Logout</a>
        </div>
        <nav class="navigation">
            <div class="bauhaus-title">BauhausJS</div>
            <bauhaus-navigation></bauhaus-navigation>
        </nav>
        <div class="content" ng-view></div>

        <!-- inject:js -->
        <!-- endinject -->

        <!--<script src="components/angular/angular.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/angular-route/angular-route.js"></script>
        <script src="components/angular-slugify/angular-slugify.js"></script>


        <script src="javascript/general/generalServices.js"></script>
        <script src="javascript/general/generalDirectives.js"></script>
        <script src="javascript/general/general.js"></script>

        <script src="javascript/dashboard/dashboardController.js"></script>
        <script src="javascript/dashboard/dashboard.js"></script>

        <script src="javascript/document/documentServices.js"></script>
        <script src="javascript/document/documentDirectives.js"></script>
        <script src="javascript/document/documentController.js"></script>
        <script src="javascript/document/document.js"></script>

        <script src="javascript/page/pageServices.js"></script>
        <script src="javascript/page/pageDirectives.js"></script>
        <script src="javascript/page/pageController.js"></script>
        <script src="javascript/page/page.js"></script>

        <script src="javascript/user/userServices.js"></script>
        <script src="javascript/user/userDirectives.js"></script>
        <script src="javascript/user/userController.js"></script>
        <script src="javascript/user/user.js"></script>

        <script src="javascript/role/roleServices.js"></script>
        <script src="javascript/role/roleDirectives.js"></script>
        <script src="javascript/role/roleController.js"></script>
        <script src="javascript/role/role.js"></script>

        <script src="javascript/app.js"></script>//-->

    </head>
    </body>
</html>