<!DOCTYPE html>
<html ng-app="bauhaus">
    <head>
        <title>BauhausJS</title>

      <!-- inject:css -->
      <!-- endinject -->
        <link type="text/css" rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
        <!--<link type="text/css" rel="stylesheet" href="css/all.css">-->
    </head>
    <body class="backend">
        <div class="top-nav">
            Signed in as <%- username %>.
            <i class="fa fa-power-off"></i> <a href="logout">Logout</a>
        </div>
        <nav class="navigation">
            <div class="bauhaus-title">BauhausJS</div>
            <bauhaus-navigation></bauhaus-navigation>
        </nav>
        <div class="content" ng-view></div>

        <!-- inject:js -->
        <!-- endinject -->
        <script>
            // Dependencies will be injected during build
            angular.module('bauhaus', [])
                .config(function ($routeProvider) {
                    'use strict';
                    $routeProvider.when('/', {redirectTo: '/dashboard'});
            });
        </script>

    </head>
    </body>
</html>